/FitnessClientApplication/nbproject/private/
*.asta.lock
/FitnessClientApplication/build/
/FitnessClientApplication/dist/
*.xml
*.iml
/ActivusDataLibrary/nbproject/private/
/ActivusDataLibrary/build/
/ActivusDataLibrary/dist/